name: Pre-commit Hooks
permissions:
  contents: read

on:
  - push
  - pull_request

jobs:
  pre-commit:
    name: Pre-commit
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v6

      - uses: actions/setup-python@v6
        with:
          python-version: '3.12'
          cache: 'pip'

      - name: Install dependencies
        run: pip install '.[dev]'

      - uses: pre-commit/action@v3.0.1
