name: Pre-commit Hooks
permissions:
  contents: read

on:
  - push
  - pull_request

jobs:
  pre-commit:
    name: Pre-commit
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v6

      - uses: pre-commit/action@v3.0.1
